.scrollable{
    height: 750px;
    overflow: auto;
    margin: 20px;
    text-align: justify;
    padding: 20px;
    animation: fadeIn 6s forwards;
  }

  .scrollable{
  
  h3{
    font-size: 200%;
    color: black;
    font-weight: 1200
  }
  h4{
    font-size: 100%;
    font-weight: 820;
    color: black;
  }
  p{
    font-size: 140%;
    font-weight: 600;
    color: black;
  }
}


